 html, body {
   height: 100%;
 }
 .row {
   height: 100%;
 }

 /* Custom style for the border */
 .column-border {
   border-right: 3px solid #B0A695;
 }
 /* Ensure the last column doesn't have a border */
 .col:last-child {
   border-right: none;
 }

 body {
   background-color: #EBE3D5;
 }

 .quickProfile {
  border: 3px solid #B0A695;
  box-shadow: 2px black;
 }

 .pfpImage {
  margin: 2px;
 }

 .usernameDivider {
  border-bottom: 2px solid #B0A695;
 }

 .navColor {
  background-color: #dbd3c8;
  border-bottom: 3px solid #B0A695;
 }

 .custom-button {
  background-color: #B0A695;
      border-color: #776B5D;
      color: white;
 }